{% extends 'base.html' %}
{% block content %}

<section></section>
<body class="abus bg-about">
<div class="container">
    <div calss ="row">
        <h1 class = "text-center"><br> About Us</h1>
        <hr>
        <div class="col">
            <p class="about_color">
                <br>
                <br>

                MotoHub is a Platform which bridges Gap between Service Providers and Customers. MotoHub has a varies number of Bike and Car Repair Service Provider under its wing. We aim to provide all Auto-Servicing needs under one roof. Our motto is efficiency with Care. We believe your vehicles requires utmost care like your beloved ones thus providing trusted Auto- Repair Services with extreme Care handled by professionals. MotoHub offers a wide range of options for two-wheeler and four-wheeler repair services around you. It also shows the nearest Auto-Service Provider from your location.
                
<br>
<br>
<br>
<br>   
<br>
<br>      
How Many Times Do We Need  The Car Service?
<br><br>
Which Engine Oil Is Good For My Car? Synthetic V/S Mineral Engine Oil?
<br><br>
What Is The Difference Between Authorized Service Center And Other Service Centers?
<br><br>
What Type Of Payment Options Does Droom Provide In Booking A Service?
<br><br>
Is COD Available For My Car Service?
<br><br>
Why Should You Buy On Droom?
<br><br>
For What All Cities We Can Book The Car Service?

           
           
           
            </p>
        </div>
    </div>
</div>
</body>


<br>
<br>
<br>



</section>
{% endblock content %}

