{% extends "base.html" %} {% block content %}
<div class= "feedback">

<section class="py-5">
  <div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Feedback List</h2>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="col">
        {% for feedback in feedbacks %}
        <div class="card fblist">
          <div class="card-body">
            <div class="card-title">
              <p class="fb-color">Name : {{feedback.name}}</p>
            </div>
            <div class="card-text">
              <p class="fb-color">Message : {{feedback.message}}</p>
              <p class="fb-color">Updated Date : {{feedback.updated_on|date}}</p>
            </div>
          </div>
          {% empty %}
            <div>
              <p class="fb-color">No feedbacks!</p>
            </div>
            {% endfor %}

        </div>
        <!-- <table class="table table-bordered align-middle">
          <thead>
            <tr class="text-center fw-bold">
              <th >#</th>
              <th>Name</th>
              <th>Subject</th>
              <th>Last Updated</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for feedback in feedbacks %}

            <tr>
              <td class="text-center fw-bold">{{forloop.counter}}</td>
              <td>{{feedback.name}}</td>
              <td>{{feedback.subject}}</td>
              <td>{{feedback.updated_on|date}}</td>
              <td>{{feedback.message}}</td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="4">No feedbacks!</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> -->
      </div>
    </div>
  </div>
</section>
</div>

{% endblock content %}