{% extends 'base.html' %}

{% block content %}

<section class=" bg-home">
    <div class = "text-center bg-dark"><h2>MOTOHUB SERVICES</h2></div>
    <section class="hero-section">
        <div
          id="carouselExampleControls"
          class="carousel slide h-100"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img src="media/default/prj1.png" class="d-block w-100 h-100" alt="" />
            </div>
            <div class="carousel-item h-100">
              <img src="media/default/prj4.png" class="d-block w-100 h-100" alt="" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'core:book_service' %}"><button class="btns text-center">Book Services</button></a>
      </div>
      <br>
      <br>
      <div class="card-group">
        <div class="card">
          <img src="media\default\prj8.png" class="card-img-top" alt="...">
          <div class="card-body white bg-dark">
            <h5 class="card-title">ENGINE TUNE-UP</h5>
            <p class="card-text">Proper Engine Tuning</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
          </div>
        </div>
        <div class="card">
          <img src="media\default\prj7.png" class="card-img-top" alt="...">
          <div class="card-body white bg-dark">
            <h5 class="card-title">FILTER CHANGE</h5>
            <p class="card-text">Lub/Oil Filter chnage </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
          </div>
        </div>
        <div class="card">
          <img src="media\default\prj9.png" class="card-img-top" alt="...">
          <div class="card-body white bg-dark">
            <h5 class="card-title">WHEEL ALIGNMENT</h5>
            <p class="card-text">Proper Wheel alignment</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
          </div>
        </div>
      </div>
        
<br>
<br>

</div>
<br>
<div class="card-group">
  <div class="card">
    <img src="media\default\prj10.png" class="card-img-top" alt="..." style="height:250px">
    <div class="card-body white bg-dark">
      <h5 class="card-title">WATER SERVICE</h5>
      <p class="card-text">Experience the best water service</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
    </div>
  </div></style>
  <div class="card">
    <img src="media\default\prj11.png" class="card-img-top" alt="..." style="height:250px">
    <div class="card-body white bg-dark">
      <h5 class="card-title">NEW TIRES</h5>
      <p class="card-text">New Tires Available</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
    </div>
  </div></style>
  <div class="card">
    <img src="media\default\prj12.png" class="card-img-top" alt="..." style="height:250px">
    <div class="card-body white bg-dark">
      <h5 class="card-title">BATTERY REPLACEMENT</h5>
      <p class="card-text">Full Battery Replacement</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="{% url 'core:book_service' %}"><button type="button" class="btn btn-success">Book Now</button></a>
    </div>
  </div></style>
  </div>
</div>

<br>
<br>
<br>
<br>

</section>

{% endblock content %}
