{% extends 'base.html' %}
{% block content %}

<div class="container py-5"  style="min-height:100vh">
    <div class="card">
        <div class="card-body">
            <p>Delivery Expected on : ---------</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p>Select Payment Method:</p>
            <div class="card-text">
                <p>---------</p>
                <p>---------</p>
                <p>---------</p>
            </div>
        </div>
    </div>
</div>













{% endblock content %}