.bg-color{
    background-color:slategrey;
    
}



.text-center{
    font-style: italic;
    color:darkgray;
}


.btn-outline-success{
    background-color: aliceblue;
}

.bg-image{
    background-image: url(prj4.png);
    background-repeat: no-repeat;
    background-size:cover;


    
}

.bg-about{
    background-color: black;

    background-size: cover;
}


.about_color{
    color: aliceblue ;
}

.bg-service{
    background-color: black;
    background-size: cover;
}




.color{
    color:darkgray;
}




.btns
{
    text-decoration: none;
    padding: 1px;
    background-color:black;
    border-radius: 2px;
    margin-left: 35%;
    cursor: default;
    color:darkgreen;
    align-items: center;
    font-size: 50px;
    text-decoration: solid;

}





.btns:hover{
    color:lightslategrey;
}





#footer{
    color:teal}




.feedback{
    background-image: url(prj14.png);
    background-size: cover;
    height: 100vh;
}




.list{
    background-image: url(prj13.png);    
    background-size: cover;
    height: 100vh;
    
}



.bike{
    background-image: url(prj16.png);
    background-size: cover;
    height: 100vh;
}




.car{
    background-image: url(prj17.png);
    background-color:black;
    background-size: cover;
    height: 100vh;
    width: 1000vh;
    
    
    
}




.hv{
    background-image: url(prj18.png);
    background-size: cover;
    height: 100vh;
}





.login{
    background-image: url(prj5.png);
    background-size: cover;
    height: 100vh;
}




.sign{
    background-image: url(prjsignin.png);
    background-size: cover;
    height: 100vh;
}




.bg-home{
    background-color: black;

}




.white{
    color: aliceblue;
}


.dlvry{
    background-image: url(prj30.png);
    background-size: cover;
}


.fblist{
    background-image: url(fbl2.png);
    background-size: cover;
}

.fb-color{
    color: black;
}


.final{
    background-image: url(final2.png);
    background-size: cover;
}


.history{
    background-image: url(history.png);
    background-size: cover;
}


.abus{
    background-image: url(abus.png);
    background-size: cover;
}